body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

#locationForm {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#locationForm label {
    display: block;
    margin-bottom: 5px;
}

#locationForm input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#locationForm input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

#locationForm input[type="submit"]:hover {
    background-color: #444;
}

#places {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#places p {
    margin-bottom: 10px;
}